@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3597e4;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b6e59e;
}

/* */
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* */
.mapboxgl-popup-content {
  box-shadow: none !important;
}

.mapboxgl-popup-close-button {
  font-size: 0px;
}

.mapboxgl-map .marker {
  transform: scale(var(--scale-factor, 1));
  transition: transform 0.3s;
}

.mapboxgl-map.zoomed .marker {
  --scale-factor: 1.5;
}

/* SLIDER */
.vertical-slider {
  width: 25%;
  margin-bottom: 50px;
}

.example-mark {
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid #8fbc8f;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0px calc(19px);
  right: calc(50% - 16px);
}

.example-mark.example-mark-active {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  right: calc(50% - 16px);
  background: #8fbc8f;
}

.example-mark.example-mark-completed {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  right: calc(50% - 16px);
  background: #8fbc8f;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-0 {
  background: #8fbc8f;
}

.vertical-slider .example-track {
  left: 14px;
  width: 3px;
}
